<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    @Styles.Render("~/bundles/css")  
    <!-- Favicon icon -->
    <link rel="icon" href="~/files/assets/images/favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  
</head>



<body>
   
    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>

    <!-- [ Pre-loader ] end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
          
            <!-- [ Header ] start -->
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a class="mobile-menu waves-effect waves-light" id="mobile-collapse" href="#!">
                            <i class="feather icon-toggle-right"></i>
                        </a>
                        <a href="~/Views/Home/Index.cshtml">


                            <!--LOGO  <img class="img-fluid" src="../files/assets/images/logo.png" alt="Theme-Logo" />-->
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">

                            <li>
                                <a href="#!" onclick="javascript:toggleFullScreen()" class="waves-effect waves-light">
                                    <i class="full-screen feather icon-maximize"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- [ Header ] end -->
            <!-- [ navigation menu ] start -->
            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="pcoded-inner-navbar main-menu">
                            <div class="">
                                <div class="main-menu-header">
                                    <img class="img-menu-user img-radius" src="~/files/assets/images/avatar-4.jpg" alt="User-Profile-Image">
                                    <div class="user-details">
                                        <p id="more-details">St Pats is Online</p>
                                    </div>
                                </div>
                            </div>

                            <ul class="pcoded-item pcoded-left-item">
                                <li class="pcoded-hasmenu active pcoded-trigger">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                        <span class="pcoded-mtext">St. Patrick´s of Texas</span>
                                    </a>

                                    <ul class="pcoded-submenu">
                                        <li class="active">
                                        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
                                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                                        <li>@Html.ActionLink("Policies", "PoliciesCompany", "Home")</li>
                                        <li>@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                                    </ul>
                                </li>
                                <li class="pcoded-hasmenu">
                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                        <span class="pcoded-micon"><i class="feather icon-shopping-cart"></i></span>
                                        <span class="pcoded-mtext">Products</span>
                                    </a>
                                    <ul class="pcoded-submenu">
                                        <li class="active">
                                        <li>@Html.ActionLink("Filling Machine", "Index", "Filling_Machine_StPats")</li>
                                        <li>@Html.ActionLink("Bottle Finishing", "Index", "Bottle_Finishing_StPats")</li>
                                        <li>@Html.ActionLink("Labeler", "", "Labeler_StPats")</li>
                                        <li>@Html.ActionLink("Pump", "Index", "Pump_StPats")</li>
                                        <li>@Html.ActionLink("Filter", "Index", "Filter_StPats")</li>
                                    </ul>
                                </li>
                            </ul>


                        </div>
                    </nav>

                    <!-- [ navigation menu ] end -->
                    <!-- [ style Customizer ] start -->
                    <!-- <div id="styleSelector">-->
                </div>
                <!-- [ style Customizer ] end -->
                @RenderBody()
            </div>
        </div>
    </div>
      
        <footer>
            <strong>Copyright &copy; 2018 <a href="#">St. Patrick´s of Texas</a>.</strong> All rights reserved.
        </footer>
  

    @Scripts.Render("~/bundles/js")



</body>
</html>
